In [1]:
import pandas as pd
import numpy as np

In [2]:
comments = pd.read_csv("../lite_data/conspauthors_comments.csv", header=0)
posts  = pd.read_csv("../lite_data/conspauthors_posts.csv", header=0)

In [3]:
comments.head()

            author  authorContrib  conspStart    conspEnd
0        parkowork            256  1379645257  1573504933
1         flowirin            512  1485804048  1566976257
2    tobecomegreen              1  1511634206  1511634206
3        biderjohn              1  1366893342  1366893342
4  MobileRaspberry              1  1562669698  1562669698

In [4]:
posts.head()

        author  authorContrib  conspStart    conspEnd
0   beatmypete              1  1525173674  1525173674
1  ernfdtykcoj              1  1456362227  1456362227
2    rekt_cstv              1  1501182138  1501182138
3        MicoG              1  1523183402  1523183402
4  brando00487              1  1541775312  1541775312

In [5]:
comments_auth2contrib = comments.set_index('author').to_dict()['authorContrib']
posts_auth2contrib = posts.set_index('author').to_dict()['authorContrib']

comments_auth2constart = comments.set_index('author').to_dict()['conspStart']
posts_auth2constart = posts.set_index('author').to_dict()['conspStart']

comments_auth2conend = comments.set_index('author').to_dict()['conspEnd']
posts_auth2conend = posts.set_index('author').to_dict()['conspEnd']

In [6]:
full_author = list(set(comments['author'].tolist() + posts['author'].tolist()))

In [9]:
authorframe = pd.DataFrame()

for f in full_author:
    try:
        contrib = comments_auth2contrib[f] + posts_auth2contrib[f]
    except:
        try:
            contrib = comments_auth2contrib[f]
        except:
            contrib = posts_auth2contrib[f]
            
    try:
        start = min(comments_auth2constart[f],posts_auth2constart[f])
    except:
        try:
            start = comments_auth2constart[f]
        except:
            start = posts_auth2constart[f]
            
    try:
        end = max(comments_auth2conend[f],posts_auth2conend[f])
    except:
        try:
            end = comments_auth2conend[f]
        except:
            end = posts_auth2conend[f]
            
    authorframe = authorframe.append({'author':f, 'conspContrib':contrib, 'conspStart':start, 'conspEnd':end}, ignore_index=True)

In [10]:
authorframe.head()

                 author  conspContrib    conspStart      conspEnd
0        TheMelonBandit          10.0  1.573145e+09  1.576780e+09
1           choodilydoo           3.0  1.422164e+09  1.422165e+09
2       LostMySoulTwice           1.0  1.541002e+09  1.541002e+09
3  pooping_on_the_clock           1.0  1.563900e+09  1.563900e+09
4     recentlyunearthed         189.0  1.376911e+09  1.575211e+09

In [11]:
authorframe.to_csv("../lite_data/conspauthor_startend.csv")